@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #d1dae3;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  min-height: 90vh;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (5rem)[4];
      grid-template-columns: repeat(4, 5rem);
  -ms-grid-rows: minmax(7.5rem, auto) (5rem)[5];
      grid-template-rows: minmax(7.5rem, auto) repeat(5, 5rem);
  grid-gap: 10px;
  background-color: #d1dae3;
  -webkit-box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1);
}

main > button {
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 50%;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #d1dae3;
  color: #091921;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1);
}

main > button:active {
  border: 4px solid #cad3dc;
  -webkit-box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1), inset -8px -8px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1), inset -8px -8px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}

main .operation {
  color: #008eff;
}

main .delete {
  color: #ff105e;
}

main .output {
  grid-column: 1 / -1;
  margin-bottom: 1em;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
  border: 4px solid #cad3dc;
  border-radius: 1em;
  -webkit-box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1), inset -8px -8px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1), inset -8px -8px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}

main .output .previous-operand {
  color: #555555;
  font-size: 1.5rem;
}

main .output .current-operand {
  color: #333333;
  font-size: 2.5rem;
}

main .span-two {
  grid-row: span 2;
  border-radius: 1em;
}
/*# sourceMappingURL=main.css.map */